@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Lato", sans-serif;
}
body img {
  max-width: 100% !important;
  height: auto;
  display: block;
}
body h1, body h2 {
  font-weight: 700;
}
body h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #101010;
}
body h2 {
  font-size: 36px;
}
body p {
  font-weight: 400;
}
body a {
  color: #FFFFFF;
  display: block;
}

.container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background: url("../../img/BG_CLOUD.svg") center/cover no-repeat;
  height: 782px;
  color: #ffffff;
  margin-bottom: 96px;
}
.header__line {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
}
.header__list li {
  padding-left: 25px;
  font-size: 14px;
  display: flex;
  text-transform: uppercase;
}
.header__list li:hover {
  font-weight: 700;
}
.header__btn {
  transition: all 0.4s ease-out;
}
.header__btn a {
  padding: 11px 30px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  transition: all 0.4s ease-out;
}
.header__btn a:hover {
  background-color: #fff;
  border-radius: 6px;
  color: #ED4C5C;
}
.header .header-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header-body h1 {
  padding: 157px 0 40px 0;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.header .header-body p {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  padding-bottom: 40px;
}
.header .header-body a {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
  padding: 17px 50px;
  color: #ED4C5C;
  border-radius: 6px;
  transition: all 0.4s ease-out;
}
.header .header-body a:hover {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.soft {
  padding-bottom: 95px;
}
.soft__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.soft__text {
  max-width: 445px;
}
.soft__text h2 {
  padding-bottom: 45px;
}
.soft__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 20px;
}
.soft__text a {
  display: inline-block;
  color: #ED4C5C;
  font-size: 12px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size 0.3s;
  padding-bottom: 5px;
}
.soft__text a:hover {
  background-size: 100% 2px;
}

.features {
  background: #fafafa;
}
.features__title {
  text-align: center;
  padding: 63px 0;
}
.features__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.features .card-features__text {
  max-width: 293px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  transform: translateY(-80px);
}
.features .card-features__text .card-features__body {
  padding: 30px;
}
.features .card-features__text h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 20px;
}
.features .card-features__text p {
  font-size: 12px;
  line-height: 150%;
  padding-bottom: 20px;
}
.features .card-features__text a {
  display: inline-block;
  color: #ED4C5C;
  font-size: 12px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size 0.3s;
  padding-bottom: 5px;
}
.features .card-features__text a:hover {
  background-size: 100% 2px;
}

.technology {
  padding-bottom: 104px;
}
.technology__title {
  text-align: center;
  padding-top: 65px;
}
.technology__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.technology .card-technology {
  text-align: center;
}
.technology .card-technology__image {
  padding-top: 55px;
  display: inline-block;
}
.technology .card-technology__icon {
  display: inline-block;
}
.technology .card-technology__body {
  transform: translateY(-40px);
}
.technology .card-technology__body h3 {
  padding-bottom: 10px;
}
.technology .card-technology__body p {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  max-width: 190px;
  margin: 0 auto;
}

.advertising {
  background-color: #ED4C5C;
}
.advertising .owl-carousel {
  max-width: 700px;
  padding-left: 100px;
}
.advertising__text {
  max-width: 1000px;
  padding-left: 165px;
  color: #ffffff;
}
.advertising__text-body {
  max-width: 445px;
  margin: 0 auto;
}
.advertising__text-body h2 {
  padding-bottom: 50px;
}
.advertising__text-body p {
  line-height: 140%;
  padding-bottom: 40px;
}
.advertising__btn {
  display: flex;
}
.advertising__btn a {
  padding-right: 23px;
}
.advertising__image img {
  max-width: 445px;
}
.advertising__body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 95px 0;
}

.nice-select {
  display: block;
  width: 460px;
}

.contact__form {
  display: block;
}

.contact {
  padding: 120px;
}
.contact__body {
  display: flex;
  justify-content: space-between;
}
.contact__text {
  max-width: 445px;
}
.contact__text h2 {
  padding-bottom: 55px;
}
.contact__text p {
  line-height: 140%;
}
.contact__form {
  display: block;
}
.contact__form select[size=contact__form-menu] {
  display: block;
  padding: 15px 0 15px 30px;
  border: 1px solid #333333;
  border-radius: 10px;
  margin: 20px 0 25px 0;
  width: 460px;
}
.contact__form input[type=text] {
  padding: 15px 60px 15px 20px;
  border: 1px solid #333333;
  border-radius: 10px;
  margin: 0 20px 30px 0;
}
.contact__form input[type=tel] {
  padding: 15px 0 15px 30px;
  border: 1px solid #333333;
  border-radius: 10px;
  width: 460px;
}
.contact__form .form__btn {
  background-color: #ED4C5C;
  padding: 17px 35px;
  border-radius: 10px;
  color: #ffffff;
  transition: 0.4s ease-in-out;
  border: 1px solid transparent;
}
.contact__form .form__btn:hover {
  background-color: #ffffff;
  border: 1px solid #ED4C5C;
  color: #000000;
}

.footer {
  background-color: #FAFAFA;
  padding-top: 85px;
}
.footer h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
  padding-bottom: 40px;
}
.footer a {
  color: #101010;
  display: inline-block;
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer .menu-footer__content li {
  padding: 5px 0;
}
.footer .menu-footer__content li:last-child {
  display: flex;
}
.footer__copyright {
  padding: 86px 0;
}

@media (max-width: 1120px) {
  .features__body {
    grid-template-columns: repeat(1, 1fr);
  }
  .features .card-features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advertising__text {
    padding-left: 0;
    text-align: center;
  }
  .advertising__body {
    display: flex;
    flex-wrap: wrap;
  }
  .advertising__btn {
    justify-content: center;
    padding-bottom: 20px;
  }
  .advertising__image {
    margin: 0 auto;
    max-width: 400px;
  }
  .advertising__image .owl-carousel {
    padding-left: 0;
  }

  .contact__body {
    flex-wrap: wrap;
  }
  .contact__text {
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 20px;
    max-height: 90vh;
  }
  .header .header-body h1 {
    font-size: 36px;
    padding: 10px 0;
  }
  .header .header-body p {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .header__btn {
    align-items: flex-end;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    z-index: 4;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    z-index: 4;
  }

  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #F53838;
    transition: 0.3s;
    opacity: 1;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu.active {
    right: -70%;
  }

  .header__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 30px;
  }
  .header__list li {
    font-size: 15px;
    display: block;
    padding: 20px 20px;
  }
  .header__list li a {
    color: white;
  }

  .soft {
    padding-bottom: 20px;
  }
  .soft__body {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .soft__text {
    padding-bottom: 10px;
  }
  .soft__text h2 {
    padding-bottom: 20px;
  }
}
@media (max-width: 660px) {
  .header__btn {
    font-size: 10px;
  }

  .header__menu.active {
    right: -50%;
  }

  .advertising__image {
    max-width: 300px;
  }
  .advertising__image img {
    max-width: 300px !important;
    height: auto;
    display: block;
  }

  .footer__menu {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__menu ul {
    padding-bottom: 20px;
  }
  .footer p {
    text-align: center;
  }

  .soft__img {
    display: flex;
    justify-content: center;
  }
  .soft__img img {
    max-width: 100% !important;
    height: auto;
    display: block;
  }

  .contact {
    padding: 20px;
  }
  .contact__form {
    display: flex;
    justify-content: center;
  }
  .contact__form select[size=contact__form-menu] {
    width: 220px;
  }
  .contact__form input[type=tel] {
    width: 220px;
  }

  .features__body {
    grid-gap: 0;
  }

  .technology__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .soft h2 {
    font-size: 24px;
  }

  .features h2 {
    padding: 20px 0;
  }

  .technology {
    padding: 0;
  }
  .technology .card-technology__image {
    display: inline-block;
  }
  .technology .card-technology__icon {
    display: inline-block;
  }
  .technology h2 {
    padding: 10px 0;
    font-size: 26px;
  }

  .advertising__body {
    padding: 30px 0;
  }
  .advertising h2 {
    font-size: 26px;
  }

  .contact h2 {
    font-size: 26px;
    text-align: center;
  }
}